// 初始化元素
@mixin divInit($w:100%, $h:auto, $padding:0 0, $margin:0 0) {
    width: $w;
    height: $h;
    padding: $padding;
    margin: $margin;
    box-sizing: border-box;
}
// 文本溢出
@mixin textOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// 居中
@mixin divCenter($left:50%,$top:50%,$trLeft:-50%,$trTop:-50%){
    position: absolute;
    top: $top;
    left: $left;
    transform:translate3D($trLeft,$trTop,0);
}
// 解决移动端滚动卡顿
@mixin mScroll(){
    -webkit-overflow-scrolling:touch;
    overflow-scrolling: touch;
     overflow: auto;
}
$fontColor: #3a7ce8;
$ac_color : #3a7ce8;
$react_color : rgb(97, 218, 251);

.input-box,.select-box{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include divInit(auto,auto,.03rem .05rem)
}
.input-ele,.select-ele{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include divInit(auto,.35rem,0 .08rem);
    line-height: .35rem;
    outline:none;
    border:1px solid #ccc;
    border-radius: .03rem;
    background: #fff;
    font-size: .09rem;
    color: #555;
    &:focus{
        box-shadow: 0 0 .05rem rgba(0,0,0,.5);
    }
   
}
.clear-btn{
    position: absolute;
    top: 50%;
    right: .1rem;
    transform: translateY(-50%);
    color: #777;
    @include divInit(.2rem,.2rem);
    text-align: center;
    cursor: pointer;
    font-size: .1rem;
    border-radius: .1rem;
    line-height: .2rem;
}

.select-ele{
    display: inline-block;
    vertical-align: middle;
    @include divInit(auto,.35rem,0 .08rem);
    line-height: .35rem;
    outline:none;
    border:1px solid #ccc;
    border-radius: .03rem;
    background: #fff;
    font-size: .1rem;
    color: #555;
    &:focus{
        box-shadow: 0 0 .05rem rgba(0,0,0,.5);
    }
}
.btn-box{
    display: inline-block;
    vertical-align: middle;
    @include divInit(auto,auto);
}
.btn{
    display: inline-block;
    vertical-align: middle;
    border-radius: .03rem;
    color:#555;
    text-align: center;
    cursor: pointer;
    font-size: .09rem;
    background:#fafafa;
    &.delete-btn{
        background: #ff5358;   
        color: #fff;
        @include divInit(.1rem,.1rem);
        text-align: center;
        cursor: pointer;
        font-size:0;
        font-weight: bold;
        border-radius: 100%;
        line-height: .1rem;
        &:after{
            content:"";
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            height:1px;
            background: #fff;
        }
    }
   
}